<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-with,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../css/clear.css">
	<link rel="stylesheet" type="text/css" href="../css/mine.css">
</head>
<body>
	<div class="box">
		<header>
			<section class="clearflow">
				<div class="fl">
					<img class="auto-img" src="../img/apple.png">
				</div>
				<div class="fl">
					<span>何展榆</span>
					<span>123132141213</span>
				</div>
			</section>
		</header>
		<main>
			<section class="top-container">
				<div class="box1-top clearflow">
					<span class="fl">我的订单</span>
					<span class="fr">查看全部订单&nbsp></span>
				</div>
				<ul class="box1-bottom">
					<li class="fl">
						<div class="box-img"><img class="auto-img" src="../img/fukuan.png"></div>
						<div>待付款</div>
					</li>
					<li class="fl">
						<div class="box-img"><img class="auto-img" src="../img/fahuo.png"></div>
						<div>待发货</div>
					</li>
					<li class="fl">
						<div class="box-img"><img class="auto-img" src="../img/shouhou.png"></div>
						<div>待收货</div>
					</li>
					<li class="fr">
						<div class="box-img"><img class="auto-img" src="../img/pingjia.png"></div>
						<div>售后服务</div>
					</li>
				</ul>
			</section>
			<section class="bottom-container">
				<ul>
					<li class="clearflow">
						<div class="item-img fl">
							<img class="auto-img" src="../img/1.png">
						</div>
						<div class="fl"><span>拼团</span>
						</div>
						<div class="fr">></div>
					</li>
					<li class="clearflow">
						<div class="item-img fl">
							<img class="auto-img" src="../img/2.png">
						</div>
						<div class="fl"><span>收货地址管理</span>
						</div>
						<div class="fr">></div>
					</li>
					<li class="clearflow">
						<div class="item-img fl">
							<img class="auto-img" src="../img/3.png">
						</div>
						<div class="fl"><span>我的收藏</span>
						</div>
						<div class="fr">></div>
					</li>
					<li class="clearflow">
						<div class="item-img fl">
							<img class="auto-img" src="../img/4.png">
						</div>
						<div class="fl"><span>我的优惠券</span>
						</div>
						<div class="fr">></div>
					</li>
					<li class="clearflow">
						<div class="item-img fl">
							<img class="auto-img" src="../img/5.png">
						</div>
						<div class="fl"><span>电子保修卡</span>
						</div>
						<div class="fr">></div>
					</li>
					<li class="clearflow">
						<div class="item-img fl">
							<img class="auto-img" src="../img/6.png">
						</div>
						<div class="fl"><span>设置</span>
						</div>
						<div class="fr">></div>
					</li>
					<li class="clearflow">
						<div class="item-img fl">
							<img class="auto-img" src="../img/7.png">
						</div>
						<div class="fl"><span>克服电话:44086623333</span>
						</div>
					</li>
				</ul>
			</section>
		</main>
		<fonter class="footer">	
			<ul>
				<li>
					<a href="../index.html">
						<div class="i"><img src="../img/home.png" alt="" class="auto-img"></div>
						<span>首页</span> 
					</a>
				</li>
				<li>		
					<a href="classify.html">		
					<div class="i"><img src="../img/classify.png" alt="" class="auto-img"></div>
					<span>分类</span> 
					</a>
				</li>
				<li>
					<a href="cart.html">
						<div class="i"><img src="../img/cart.png" alt="" class="auto-img"></div>
						<span>购物车</span> 
					</a>
				</li>
				<li>			
					<div class="i"><img src="../img/acmine.png" alt="" class="auto-img"></div>
					<span>我的</span> 

				</li>
			</ul>
		</fonter> 
	</div>
	
</body>
</html>