<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>分类页</title>
	<meta name="viewport" content="width=device-with,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../css/clear.css">
	<link rel="stylesheet" type="text/css" href="../css/classify.css">
</head>
<body>
	<div class="box">
		 <header class="header">
			<hgroup class="header">	
				<input type="text" name="" placeholder="塞尔达·英雄传说">
				<div class="i">
					<img  class="auto-img" src="../img/icon.png" alt="搜索框">
				</div>
			</hgroup>
		</header>
		<!-- 分类页的主题内容 -->
		<main class="clearflow">
			<!-- 侧边栏 -->
			<aside class="aside fl">
				<ul>
					<a href="classify.html">
						<li >iPhone</li>
					</a>
					<li>小米</li>
					<li>华为</li>
					<li>OPPO</li>
					<li class="active">vivo</li>
					<li>荣耀</li>
					<li>红米</li>
					<li>平板</li>
					<li>手表</li>
					<li>笔记本</li>
					<li>收回</li>
				</ul>
			</aside>
			<!-- route路由 -->
			<section class="fr">
				<header>
					<img class="auto-img" src="../img/i001.jpg" alt="">
				</header>
				<article class="shop-list" >
					<header><h5>手表</h5></header>

				<!-- 商品的菜单 -->
				<ul class="clearflow">
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/63.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/64.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/65.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/66.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/67.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/68.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/69.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/70.jpg"/></div>	
						<span>iPhone7</span>
					</li><li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/71.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/72.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/73.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/74.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/75.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/76.jpg"/></div>	
						<span>iPhone7</span>
					</li>
					<li class="shop-item">
						<div><img class="auto-img" src="../img/classify_image/77.jpg"/></div>	
						<span>iPhone7</span>
					</li>
				</ul>
				</article>

			</section>
		</main>
		<fonter class="footer">	
			<ul>
				<li>
					<a href="../index.html">
						<div class="i"><img src="../img/home.png" alt="" class="auto-img"></div>
						<span>首页</span> 
					</a>
				</li>
				<li>				
					<div class="i"><img src="../img/acclassify.png" alt="" class="auto-img"></div>
					<span>分类</span> 
				</li>
				<li>
					<a href="cart.html">
						<div class="i"><img src="../img/cart.png" alt="" class="auto-img"></div>
						<span>购物车</span> 
					</a>
				</li>
				<li>
					<a href="mine.html">
						<div class="i"><img src="../img/mine.png" alt="" class="auto-img"></div>
						<span>我的</span> 
					</a>
					
				</li>
			</ul>
		</fonter> 
	</div>
</body>
</html>