.box{
	width: 100%;
	height: 100%;
	position: relative;
}
/*头部 strat */
header{
	width: 100%;
}
header>.top-header{
	height: 30px;
	width: 100%;
	/*padding: 0 250px;*/
	
	box-sizing: border-box;
	color: white;
	background-color: #2a5371;
	line-height: 30px;
}
header>.top-header>.nav{
	position: relative;
	width: 1200px;
	height: 100%;
	/*background-color: pink;*/
	margin: 0 auto;
}
/*header>.top-header .item-left{
	position: absolute;
}*/
header>.top-header .item-right{
	position: absolute;
	right: 0px;
	/*background-color: green;*/
}
header>.top-header>.nav>ul>li{
	float: left;
	margin: 0 10px;
	position: relative;
}
header>.top-header>.nav>ul>li:nth-child(2)::after{
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	right: -20px;
	bottom: -7px;
	top: 010px;
	border-left: 1px solid white;
}
header>.top-header>.nav>ul>li:nth-child(3)::after{
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	right: -20px;
	bottom: -7px;
	top: 010px;
	border-left: 1px solid white;
}
header>.top-header>.nav>ul>li:nth-child(4)::after{
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	right: -20px;
	bottom: -7px;
	top: 010px;
	border-left: 1px solid white;
}
/*top end*/
/*bottom-header start*/
header>.bottom-header{
	height: 65px;
	width: 1200px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}
header>.bottom-header>.login-img{
	width:96px;
	height:58px;
	position: absolute;
	left: 80px;
	top: 10px;
}
header>.bottom-header>ul{
	position: absolute;
	right: -16px;
	top: 23px;
}
header>.bottom-header>ul>li{
	float: left;
	margin-right: 25px;
	position: relative;
}

header>.bottom-header>ul>li>a{
	color: black;
}
header>.bottom-header>ul>li>a>span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
}
header>.bottom-header>ul>li>a:hover{
	color: #3375f3;
	font-weight: 500;
	border-bottom: 2px solid #3375f3;
	padding-bottom: 7px;
}
/*头部end*/
/*footer start*/
footer{
	margin-top: 20px;
	width: 100%;
	height: 100px;
	background-color: #2a5371;
	color: white;
	position: absolute;
    left: 0;
   /* bottom: 0;*/
}
footer>ul{
	width: 724px;
	height: 20px;
	font-size: 16px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

}
footer>ul>li{
	float: left;
	margin-right: 10px;
}
/*footer end*/
/*main start*/
main{
	width: 100%;
	height: auto;
}
main>section{
	width: 1000px;
	height: 1365px;
	margin:35px auto 0;
	position: relative;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
main>.banner{
	width: 100%;
	height: 600px;
}
main>section>header{
	font-weight: 600;
	font-size: 14px;
	color: #767676;
	position: absolute;
	top: -25px;
	left: 0px;
}
main>section>ul.silde{
	width: 140px;
	height: 100%;
}
main>section>ul.silde>li{
	width: 140px;
	height: 50px;
	border-bottom: 1px solid black;
	position: relative;
}
main>section>ul.silde li.login>.i{
	width: 90px;
	height: 20px;
	position: absolute;
	bottom: 13px;
	left: 0;
}
main>section>ul.silde li.top-item>div,main>section li.bottom-item>div{
	padding-top: 5px;
	box-sizing: border-box;
}
main>section>ul.silde li.top-item>div>span:nth-child(1){
	color: #1262f1;
}
main>section>ul.silde li.bottom-item>div>span:nth-child(1){
	color: #929292;
}
main>section>ul.silde li>div>span:nth-child(2){
	color: #cfcfcf;
}
main>section>ul.silde li>div>span:nth-child(1){
	font-weight: 600;
}
main>section>ul.silde span{
	text-align: center;
	display: block;
	text-align: 16px;
}
/*newshow start*/
main>section>ul.newshow{
	width: 80%;
	position: absolute;
	right: 0;
}
.center{
	text-align: center;
}
main ul.newshow>li{
	padding: 20px 0;
	border-bottom: 1px dotted black;
}
main div.img-box{
	width: 163px;
	height: 163px;
}
main ul.newshow>li.container-new ul.contianer{
	width: 585px;
	height: 168px;
}
main ul.newshow .container{
	width: 78%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 18px;
}
main ul.newshow .container-top{
	margin-top: 16px;
}
main ul.newshow .container-top>div:nth-child(1){
	color: #5163c2;
	font-weight: 700;
}
main ul.newshow .container-top>div:nth-child(2){
	color: #a8a8a8;
	font-weight: 500;
}
main ul.newshow .container-bottom{
	margin-top: 25px;
	text-indent:50px;
}
main ul.newshow li.container-last{
	padding: 20px 0;
	width: 100%;
	border-bottom: 0px;
}
main ul.newshow li.container-last>div{
	position: absolute;
	left: 47%;
}
main ul.newshow li.container-last>div span{
	display: block;
	border: 1px solid black;
	float: left;
	margin:0 5px;
	padding: 0 5px;
}
main ul.newshow li.container-last>div span:nth-child(1){
	color: #272bff;
	border-color: #272bff;
}
/*newshow end*/
/*main end*/