<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/clear.css">
	<link rel="stylesheet" href="../css/company.css">
</head>
<body>
	<div class="box">
		<header>
			<div class="top-header">
				<div class="nav clearflow">
					<div class="item-left fl"><span>欢迎来到毅朝信息科技有限公司</span></div>
					<ul class="item-right fr">
						<li >客服热线：XXX-XXXXXX</li>
						<li >加入收藏</li>
						<li >设为首页</li>
						<li >网站地图</li>
						<li>联系我们</li>
					</ul>
				</div>		
			</div>
			 <div class="bottom-header clearflow">	 	
			 		<div class="login-img fl">
					<img class="auto-img" src="../img/index/inlogo.png" alt="">
				</div>
				<ul class="bottom-r fr">
					<li><a href="../index.html"><span>首页</span></a></li>
					<li><a href="#"><span>公司介绍</span></a></li>
					<li><a href="newshow.html"><span>新闻中心</span></a></li>
					<li><a href="newdetail.html"><span>新闻详情</span></a></li>
					<li><a href="product.html"><span>产品中心</span></a></li>
					<li><a href="productdetail.html"><span>产品详情</span></a></li>
					<li><a href="contactus.html"><span>联系我们</span></a></li>
				</ul>		 	
			</div> 
		</header>
		<main>
			<div class="banner">
				<img class="auto-img" src="../img/introduce/introduce.png" alt="in">
			</div>
			<section>
				<header class="top">
					<div class="i"><img class="auto-img" src="../img/introduce/abt-left.png" alt=""></div>
					<div><span>关于我们</span></div>
					<div class="i"><img src="../img/introduce/abt-right.png"></div>
					 <div class="clearfix">About us</div> 
				</header>
				<aside>
					<div>公司介绍</div>
					<div>服务理念</div>
					<div>主营产品</div>
				</aside>
				<article class="contianer">
					<div class="contianer-l">
						<div class="top-i">
							<img class="auto-img" src="../img/introduce/intimg.png" alt="">
						</div>
						<div class="bottom clearflow">
							<div class="b-left">
								<div>
									<div class="b-i">
										<img src="../img/introduce/contact.png" alt="">
									</div>
									<div><span>联系我们</span></div>
									<div>contact&nbsp;us</div>
								</div>
							</div>
							<div class="b-right">
								<div>
									<div class="b-i">
										<img src="../img/introduce/honor.png" alt="">
									</div>
									<div><span>联系我们</span></div>
									<div>contact&nbsp;us</div>
								</div>
							</div>
						</div>
					</div>
					<div class="contianer-r">
						<div class="login">公司介绍</div>
						<div class="contianer">
							毅朝信息科技有限公司是一家专业信息管理系统、网站开发的公司。本公司致力于为大型奇特也单位提供信息解决方案。不但具有丰富的管理实施经验，也有强大的开发与创新能力。公司由各行资深信息服务业人员组成，对互联网+有独到的人士。业务范围：展会管理系统、多媒体综合演示系统、智能管理系统开发、数字化网站管理平台、手机端应用、多媒体榨汁等。毅朝奉行“诚信、严谨团结、创新”的方针、不断开拓创新，奉客户为上帝，带员工如家人，竭诚为客户提供优质的服务。
						</div>
						<div>MORE</div>
					</div>
				</article>
			</section>
		</main>
		<footer>
			<ul>
				<li><span>Copyright &copy; 2013-2017</span></li>
				<li><span>上海毅朝信息有限公司</span></li>
				<li><span>版权所有</span></li>
				<li><span>京ICP备XXXXXX号-1</span></li>
				<li><span>京ICP整xxxxx号</span></li>
			</ul>
		</footer> 
	</div>
</body>
</html>