<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/clear.css">
	<link rel="stylesheet" href="../css/contactus.css">
</head>
<body>
	<div class="box">
		<header>
			<div class="top-header">
				<div class="nav clearflow">
					<div class="item-left fl"><span>欢迎来到毅朝信息科技有限公司</span></div>
					<ul class="item-right fr">
						<li >客服热线：XXX-XXXXXX</li>
						<li >加入收藏</li>
						<li >设为首页</li>
						<li >网站地图</li>
						<li>联系我们</li>
					</ul>
				</div>		
			</div>
			 <div class="bottom-header clearflow">	 	
			 		<div class="login-img fl">
					<img class="auto-img" src="../img/index/inlogo.png" alt="">
				</div>
				<ul class="bottom-r fr">
					<li><a href="../index.html"><span>首页</span></a></li>
					<li><a href="company.html"><span>公司介绍</span></a></li>
					<li><a href="newshow.html"><span>新闻中心</span></a></li>
					<li><a href="newdetail.html"><span>新闻详情</span></a></li>
					<li><a href="product.html"><span>产品中心</span></a></li>
					<li><a href="productdetail.html"><span>产品详情</span></a></li>
					<li><a href="#"><span>联系我们</span></a></li>
				</ul>		 	
			</div> 
		</header>
		<main>
			<div class="banner">
				<img class="auto-img" src="../img/contact/contact.png" alt="in">
			</div>
			<section>
				<header>我现在的位置: 首页 > 联系我们</header>
				<div class="container">
					<div class="container-l"><img class="auto-img" src="../img/contact/map.png" alt=""></div>
					<div class="container-r">
						<div class="container-r-top">
							<div  class="top">
								<div class="icon">公司网站:http://www.xxxx.com</div>
								<div class="icon">联系电话:021-12XXX678</div>
								<div class="icon">公司地址:上海市张江高科技园区张衡路500弄1号510A室</div>
								<div class="icon">公司邮箱:maumou@xxxxx.com</div>
							</div>
							<div class="bottom">
								<div class="contact-l">
									<span>关注官方微博:XXXXXXXXX</span>
									<span>关注官方微信:XXXXXXXXX</span>
									<span>QQ克服在线:XXXXXXXXX</span>
								</div>
								<div class="contact-r">
									<div class="i " ><img  class="img-auto" src="../img/contact/code.png" alt=""></div>
									<ul class="right">
										<li>手机扫一扫</li>
										<li>关注我们的及时信息</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="container-r-botom">
							<div class="c-l">
								<header>联系我们</header>
								<input type="text" placeholder="我们:">
								<input type="text" placeholder="邮箱:">	
								<input type="text" placeholder="手机号码:">
								<div class="clearflow"><input class="fl" type="text" placeholder="验证码:"><button class="fl">点击获取验证码</button></div>
							</div>
							 <div class="c-r">
							 	<div class="top"><textarea></textarea>
								<label>留言</label></div>
								
								<div class="bottom"><button>发送</button>
								<button>重置</button></div>
								
							</div> 
						</div>
					</div>
				</div>
			</section>
			
		</main>
		<footer>
			<ul>
				<li><span>Copyright &copy; 2013-2017</span></li>
				<li><span>上海毅朝信息有限公司</span></li>
				<li><span>版权所有</span></li>
				<li><span>京ICP备XXXXXX号-1</span></li>
				<li><span>京ICP整xxxxx号</span></li>
			</ul>
		</footer> 
	</div>
</body>
</html>