<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/clear.css">
	<link rel="stylesheet" href="../css/productdetail.css">
</head>
<body>
	<div class="box">
		<header>
			<div class="top-header">
				<div class="nav clearflow">
					<div class="item-left fl"><span>欢迎来到毅朝信息科技有限公司</span></div>
					<ul class="item-right fr">
						<li >客服热线：XXX-XXXXXX</li>
						<li >加入收藏</li>
						<li >设为首页</li>
						<li >网站地图</li>
						<li>联系我们</li>
					</ul>
				</div>		
			</div>
			 <div class="bottom-header clearflow">	 	
			 		<div class="login-img fl">
					<img class="auto-img" src="../img/index/inlogo.png" alt="">
				</div>
				<ul class="bottom-r fr">
					<li><a href="../index.html"><span>首页</span></a></li>
					<li><a href="company.html"><span>公司介绍</span></a></li>
					<li><a href="newshow.html"><span>新闻中心</span></a></li>
					<li><a href="newdetail.html"><span>新闻详情</span></a></li>
					<li><a href="product.html"><span>产品中心</span></a></li>
					<li><a href="productdetail.html"><span>产品详情</span></a></li>
					<li><a href="contactus.html"><span>联系我们</span></a></li>
				</ul>		 	
			</div> 
		</header>
		<main>
			<div class="banner">
				<img class="auto-img" src="../img/news/news.png" alt="in">
			</div>
			<section>
				<header>我现在的位置: 首页 > 产品中心</header>
				 <ul class="silde fl">
				 	<div class="i"><img src="../img/product/small-tb.png" alt=""></div>
					<li><span>APP应用</span></li>
					<li><span>多媒体宣传</span> </li>
					<li><span>多媒体触摸屏系统</span> </li>
					<li><span>数字网站开发与建设</span> </li>
					<li><span>影视制作与三维特效</span> </li>
					<li><span>虚拟现实模拟系统</span> </li>
					<li><span>多媒体杂志</span> </li>
					<li><span>光盘配套与服务</span> </li>
				</ul> 
				<ul class="newshow fl">
					<li class="center" style="margin-top: 20px;"><h2>多媒体宣传/Multimedia propaganda</h2></li>
					<li class="container">
						<div class="box-img"><img class="auto-img" src="../img/product/prt-detail.png" alt=""></div>
						<p>多媒体是声音与立体画面完美结合的高科技产品，他可以有效的帮助您梳理和展示企业向、推广产品，更好的展示您企业和产品的优势，成为你能扩展市场和展示企业形象的好帮手。与传统的宣传和还在那时媒介比较，多媒体展示有着无可比拟的优势，并一起大容量、互动性、内容肺腑多彩、携带方便等优点。广受青睐</p>
						<div class="icon">企业及产品形象宣传系统</div>
						<p style="font-size: 14px">运动多表现姓氏，充分展现多媒体多汁多彩的美丽和互动性，突破传统的智能一文字及静态效果保险姓氏的束缚，运用多媒体技术全面系统的展示企业及产品情况，提箱企业及优势，帮助企业拓展市场。</p>
						<div class="icon">会议报告演示系统</div>
						<p>会议报告演示系统主要应用于政府会议、招标会议、学术研讨会、工作汇报、活动路演等、多媒体的展示效果、交互操作等待点完全改变传统会议的呆板、顾兆，也使讲述着更跨界、方式的完成会议报</p>
						<div class="icon">展馆及主体公园演示导览系统</div>
						<p>改系统是景区想有课提供的一种多媒体自助服务，这种服务的母的是让有能够方便的了解景区的各种介绍信息及景区的实时状态如景区内的个个风景点事拥挤、分经典的游览车排班情况等。同时还能提供相应的查询功能，例如：查询预知经典的位置信息、当前位置到改景点的距离和划出最适合的路径轨迹信息等。</p>
						<div class="icon">
							园区照烧引资传展示系统
						</div>
						<p>利用程度的多媒体技术，吧园区的基础设施、地理环境、综合优势、招商政策和程序，政策优惠，全方位的尽心宣传和展示，同事还可以多远取得进行未来进行模拟和展望。</p>
					</li>
				</ul> 
			</section>
		</main>
		<footer>
			<ul>
				<li><span>Copyright &copy; 2013-2017</span></li>
				<li><span>上海毅朝信息有限公司</span></li>
				<li><span>版权所有</span></li>
				<li><span>京ICP备XXXXXX号-1</span></li>
				<li><span>京ICP整xxxxx号</span></li>
			</ul>
		</footer> 
	</div>
</body>
</html>