<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/clear.css">
	<link rel="stylesheet" href="../css/product.css">
</head>
<body>
	<div class="box">
		<header>
			<div class="top-header">
				<div class="nav clearflow">
					<div class="item-left fl"><span>欢迎来到毅朝信息科技有限公司</span></div>
					<ul class="item-right fr">
						<li >客服热线：XXX-XXXXXX</li>
						<li >加入收藏</li>
						<li >设为首页</li>
						<li >网站地图</li>
						<li>联系我们</li>
					</ul>
				</div>		
			</div>
			 <div class="bottom-header clearflow">	 	
			 		<div class="login-img fl">
					<img class="auto-img" src="../img/index/inlogo.png" alt="">
				</div>
				<ul class="bottom-r fr">
					<li><a href="../index.html"><span>首页</span></a></li>
					<li><a href="company.html"><span>公司介绍</span></a></li>
					<li><a href="newdetail.html"><span>新闻中心</span></a></li>
					<li><a href="newdetail.html"><span>新闻详情</span></a></li>
					<li><a href="product.html"><span>产品中心</span></a></li>
					<li><a href="productdetail.html"><span>产品详情</span></a></li>
					<li><a href="contactus.html"><span>联系我们</span></a></li>
				</ul>		 	
			</div> 
		</header>
		<main>
			<div class="banner">
				<img class="auto-img" src="../img/news/news.png" alt="in">
			</div>
			<section>
				<header>我现在的位置: 首页 > 产品中心</header>
				 <ul class="silde fl">
				 	<div class="i"><img src="../img/product/small-tb.png" alt=""></div>
					<li><span>APP应用</span></li>
					<li><span>多媒体宣传</span> </li>
					<li><span>多媒体触摸屏系统</span> </li>
					<li><span>数字网站开发与建设</span> </li>
					<li><span>影视制作与三维特效</span> </li>
					<li><span>虚拟现实模拟系统</span> </li>
					<li><span>多媒体杂志</span> </li>
					<li><span>光盘配套与服务</span> </li>
				</ul>
				<ul class="newshow fl">
					<li class="center" style="margin-top: 20px;"><h2>产品中心/Product Center</h2></li>
					<li class="container-new clearflow">
						<div class="container-r fl">
							<div class="img-box "><img class="auto-img" src="../img/index/product1.png" alt=""></div>
							<span class="center">多媒体触摸屏系统</span>
						</div>
						
						 <ul class="container-l fl">
						 	 <li><div style="font-size: 14px" class="icon"><span>政府政务公开系统</span></div></li>
							 <li><div style="font-size: 14px" >应用多媒体技术,把政府条例和工作详细地展现在人们面前，最大实现政务公开化。</div></li>
							 <li><div style="font-size: 14px" class="icon">智能信息导航查询系统</div></li>
							 <li><div style="font-size: 14px" >在展会现场、公共交通,银行等公共场所广泛,极大的提高了...[详情]</div></li>	 
						</ul> 
					</li>
					<li class="container-new clearflow">
						<div class="container-r fl">
							<div class="img-box "><img class="auto-img" src="../img/index/product2.png" alt=""></div>
							<span class="center">数字网站开发与建设系统</span>
						</div>
						
						 <ul class="container-l fl">
						 	 <li><div class="icon" style="font-size: 14px"><span>企业智能化管理系统</span></div></li>
							 <li><div class="icon" style="font-size: 14px">品牌行下网站建设</div></li>
							 <li><div class="icon" style="font-size: 14px">大型综合门户网站建设</div></li>
							 <li><div class="icon" style="font-size: 14px">电子商务网站建设</div></li>	 
						</ul> 
					</li>
					
					<li class="container-new clearflow">
						<div class="container-r fl">
							<div class="img-box " ><img class="auto-img" src="../img/index/product3.png" alt=""></div>
							<span class="center">虚拟现实模拟系统</span>
						</div>
						
						 <ul class="container-l fl">
						 	 <li><div class="icon" style="font-size: 14px"><span>科技产品虚拟展示</span></div></li>
							 <li><div style="font-size: 14px">应用三维立体技术产品从建模到成型的整个都展示出来，帮助人家快速了姐产品性能，满足企业宣传产品需要。</div></li>
							 <li><div class="icon" style="font-size: 14px">箭镞工程，城市规划展示</div></li>
							 <li><div style="font-size: 14px">应用三维立体技术，讲建筑工程，城市归还的宏伟场景展现...【详情】</div></li>	 
						</ul> 
					</li>
					<li class="container-new clearflow">
						<div class="container-r fl">
							<div class="img-box "><img class="auto-img" src="../img/index/product4.png" alt=""></div>
							<span class="center">影视制作与3D特效</span>
						</div>
						
						 <ul class="container-l fl">
						 	 <li><div style="font-size: 14px"><span>DVD、VCD宣传片光盘其普及率高，线性播发的操作简单使受众更接受，目前仍是一种展示的重要方式。有我们妆业的导演、策划、剧本、BARCAME/DVCAME...[详情]</span></div></li>
 
						</ul> 
						 
					</li>
					<li class="container-new clearflow">
						<div class="container-r fl">
							<div class="img-box "><img class="auto-img" src="../img/index/product5.png" alt=""></div>
							<span class="center">多媒体触摸屏系统</span>
						</div>
						
						 <ul class="container-l fl">
						 	 <li><div style="font-size: 14px"><span>多媒体是声音与立体画面完美结合的高科技产品，更好的展示您企业和产品的优势，成为您拓展市场和展示企业形象的好帮手。榆传统的宣传和展示媒介比较，多媒体展示有着无可比拟的优势，并一起大容量、互动性能、内容丰富多彩...[详情]</span></div></li>	 
						</ul> 
					</li>
					<li class="container-new clearflow">
						<div class="container-r fl">
							<div class="img-box "><img class="auto-img" src="../img/index/product6.png" alt=""></div>
							<span class="center">多媒体宣传系列</span>
						</div>
						
						 <ul class="container-l fl">
						 	 <li><div style="font-size: 14px"><span>多媒体是生硬榆立体画面完美结合的高科技产品，它可以有效的帮助您梳理和展示企业形象、推广产品，更好的展示您企业和产品的优势，成为您拓展市场和展示企业形象的好帮手。与创痛的宣传和展示媒介比较，多媒体还在那时有着无可比拟的优势，兵役器打容量、互动性、内容多彩...【详情】</span></div></li>
	 
						</ul> 
					</li>
				
					<li class="container-last">
						<div>
							<span>1</span>
							<span>2</span>
							<span>3</span>
							<span>下一页</span>	
						</div>
					</li>
				</ul> 
			</section>
		</main>
		<footer>
			<ul>
				<li><span>Copyright &copy; 2013-2017</span></li>
				<li><span>上海毅朝信息有限公司</span></li>
				<li><span>版权所有</span></li>
				<li><span>京ICP备XXXXXX号-1</span></li>
				<li><span>京ICP整xxxxx号</span></li>
			</ul>
		</footer> 
	</div>
</body>
</html>