.my-address {
  padding-top: 46px;
  /deep/ .van-nav-bar__text {
    color: #0c34ba;
  }

  /deep/ .van-nav-bar .van-icon {
    color: #0c34ba;
  }

  /deep/ .van-tag--danger {
    background-color: #0c34ba;
  }

  /deep/ .van-address-item .van-radio__icon--checked .van-icon {
    background-color: #0c34ba;
    border-color: #0c34ba;
  }

  /deep/ .van-button--danger {
    background-color: #0c34ba;
    border-color: #0c34ba;
  }

  /deep/ .van-radio__icon {
    display: none;
  }

  /deep/ .van-address-list__bottom {
    background-color: #f5f5f5;
  }
}
